body{
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    background-color: lightgrey;
    color: white; 
}
.page-header{
    text-align: center;
}
.mimi-container{
    background-color: white; 
    /* how i will center the div for now  */
    margin-left: 10%;
    /* border-radius: 2em;  */
}
#mimi-canvas{
    border: 2px solid black;
    background-color: white;
}
button {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    border-radius: 1em;
}
#delete{
    background: lightcoral; 
}
.mimi-container-header{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 30%;
    grid-gap: 10px; 
}
/* hides the input element from user */
input{
    caret-color: transparent;
    color: white; 
    border: none;
    border-top-style: hidden; 
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove; 
}
input:focus {
    outline: none;
}
.tab{
    color:black;
    background-color: beige;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px; 
    font-size: 16px;
    width: 109px;
    float: left;
    cursor: pointer;
    border: 0.6px solid; 
}
/* .tab-section{
} */
.canvas-container{
    background-color: black;
}
#new-tab{
    margin-left: 50%; 
}